{% macro render_field(field) %}

<div class='field form-group'>
	{% if field.errors %}
	{% for error in field.errors %}
	<span class='fielderror'>
		{{ error }}
	</span>
	{% endfor %}
	{% endif %}

	{{ field(placeholder=field.label.text, class_='form-control', rows=8) }}
</div>

{% endmacro %}

{% macro render_stream(stream, length=10000) %}

<div class='stream'>
	{% for post in stream %}
		<div class='row'>
			<div class='col-xs-12'>
				<p><a href='{{ url_for('index') }}{{ post.user.username }}'>{{ post.user.username }}</a> | <time data-time='{{ post.timestamp }}' class='disttime small' datetime='{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}'>{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</time> | <a class='language' href='{{ url_for('search_cat', category=post.display_language) }}'>{{ post.display_language }}</a></p>
			</div>
			
			<div class='col-sm-12'>
				<a href='{{ url_for('post', post_id=post.id) }}' class='post_a'><pre><code class='{{ post.language }}'>{{ post.content[0:length] }}</code></pre></a>
				{% if post.user.username == g.user.username %}
					<a class='small delete' href='{{ url_for('delete', delete_id=post.id )}}'>delete</a> | <a class='small edit' href={{ url_for('edit', edit_id=post.id) }}>edit</a>
				{% endif %}
			</div>
		</div>
	<hr>
	{% endfor %}
</div>

{% endmacro %}