<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}| SnippetShare{% endblock %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href='../static/site.css'>

	<!-- Highlight.js -->
	<link rel="stylesheet" href="../static/hljs_solarized_dark.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="../static/bootstrap.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="../static/bootswatch.min.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid container">
	    {% if not current_user.is_authenticated() %}
	    <form class="navbar-form navbar-left" id='new_post_form'>
			<a title='Home' href='{{ url_for('index') }}' id='home_link'></a>
			<a href="{{ url_for('login') }}" class='hidden-sm hidden-md hidden-lg glyphicon glyphicon-off btn btn-default' title='Sign in'></a>
		</form>
		{% endif %}
	    {% if current_user.is_authenticated() %}
		    <ul class="nav navbar-nav navbar-right">
		    	<li><a href="{{ url_for('logout') }}" class='hidden-xs' title='Sign out'>Sign out</a></li>
		    </ul>
	    	<form class="navbar-form navbar-left" id='new_post_form'>
	    		<a title='Home' href='{{ url_for('index') }}' class="btn btn-default" id='home_link'>Home</a>
		    	<a title='New Post' href='{{ url_for('new_post') }}' class="btn btn-default">New post</a>
		    	<a title='Profile' href='{{ url_for('profile', profile=current_user.username) }}' class="btn btn-default">Profile</a>
		    	<a href="{{ url_for('logout') }}" class='hidden-md btn-default hidden-lg btn hidden-sm' title='Sign out'>Sign out</a>
		    	<div class='dropdown'>
			    	<a class="btn btn-default dropdown-toggle" data-toggle='dropdown' role='button' aria-expanded='false'>Categories <span class='caret'></span></a>
			    	<ul class='dropdown-menu' role='menu'>
			    		<li><a href='{{ url_for('search_cat', category='Auto-detect') }}'>Auto-detect</a></li>
			    		<li class='divider'></li>
			    		{% for language in LANGUAGES[1:] %}
			    			<li><a href='{{ url_for('search_cat', category=language[1]) }}'>{{ language[1] }}</a></li>
			    		{% endfor %}
			    	</ul>
		    	</div>
		  	</form>
	    {% else %}
	    	<form class="navbar-form navbar-left" id='new_post_form'>
	    		<a title='Home' href='{{ url_for('index') }}' class="btn btn-default" id='home_link'>Home</a>
			</form>
	    	<ul class="nav navbar-nav navbar-right">
		    	<li><a href="{{ url_for('login') }}" class='hidden-xs' title='Sign out'>Sign in</a></li>
		    </ul>
	    {% endif %}
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class='collapse navbar-collapse' id="bs-example-navbar-collapse-1">
	      <form class="navbar-form navbar-right" role="search" id='search'>
	        <div class="form-group">
	          <input type="text" class="form-control" id='search_input' placeholder="Search">
	        </div>
	      </form>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class='container'>
		<div class='flashes row'>
			<div class='col-xs-12' id='flashes'>
				{% with messages = get_flashed_messages(with_categories=True) %}
					{% for category, message in messages %}
						<div class='panel panel-{{ category }}'>
							<div class='panel-body'>{{ message }}</div>
						</div>
					{% endfor %}
				{% endwith %}
			</div>
		</div>
		{% block body %}{% endblock %}
		<footer>
			<p class='small'>MrMadsenMalmo Development 2015&copy;</p>
			<p class='small'><a href='https://github.com/fredrikaugust/SnippetShare.git'>Source on GitHub</a></p>
		</footer>
	</div>
	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src='../static/site.js'></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>