#new_post_form {
	padding:0;
}

.delete {
	color: #c0392b;
	cursor:pointer;
}

.edit {
	cursor: pointer;
}

#edit-profile {
	cursor: pointer;
}

#content {
	font-family:monospace;
}

@media (max-width:768px) {
	#new_post_form {
		border-top:0;
		border-bottom:0;
	}

	.navbar-form {
		margin-top:-8px !important;
	}
}

.follow:hover {
	text-decoration: none;
	cursor:pointer;
	color:#c0392b;
}

.follow_True {
	color:#c0392b !important;
}

.followers {
	font-family: monospace;
}

.post_a {
	text-decoration: none !important;
}