#new_post_form {
	padding:0;
}

.delete {
	color: #c0392b;
	cursor:pointer;
}

.edit {
	cursor: pointer;
}

.language {
	cursor: pointer;
}

#content {
	font-family:monospace;
}

@media (max-width:768px) {
	#new_post_form {
		border-top:0;
		border-bottom:0;
	}

	.navbar-form {
		margin-top:-8px !important;
	}
}

.follow:hover, .edit:hover {
	text-decoration: none;
	cursor:pointer;
	color:#c0392b;
}

.follow_True {
	color:#c0392b !important;
}

.followers {
	font-family: monospace;
}

.post_a {
	text-decoration: none !important;
}

footer {
	margin: 0 !important;
}

pre {
	padding:0 !important;
	border:0 !important;
}

.dropdown {
	display: inline-block;
}

textarea, select, input {
	background-color: #002b36 !important;
	color: #839496 !important;
}

pre, code {
	color: #839496 !important;
	background: #002b36 !important;
	padding: 0.5em !important;
	font-size: inherit !important;
}
